<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>

    {{> stylesheets}}
  </head>

<body>
  {{> header}}

  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
      <div class="thumbnail">
         <img class="images" src="images/dashboard1.jpg" alt="fashion">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
      <div class="thumbnail">
         <img class="images" src="images/dashboard2.jpg" alt="fashion">
     </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-4">
      <div class="thumbnail">
       <img class="images" src="images/dashboard3.jpg" alt="Fjords">
     </div>
    </div><br>
  </div>

  <br><br>
    <h1 class="display-4 text-center">Hello everyone!</h1>
    <br>
    <p class="text-center"><em> Alex is a lifestyle blogger living in Highland Park, Texas with her husband, Patrick and her two puppy kids, Molly and Zoey.  ALEX personal blog was created in 2010 as a creative outlet from her Marketing job post-college.  The space evolved into a place for sharing all of life’s little details.

Alex and Alex's personal blog have been featured on Style Me Pretty, Refinery 29, and The Everygirl and has worked with notable brands such as Old Navy, The Four Seasons, J.Crew, Madewell, Framebridge, Clinique, Cuyana, Ariel Gordon Jewelry, Tuckernuck, Eberjey and many more.

Alex has a love for the little details in life.  She loves her daily cup of coffee and is a total sucker for a good love story.  She dances in the car and sings in the shower. She owns way too many pairs of jeans and dreams of being a ballerina in another life. Her love for photography and styling keeps her inspired daily.</em></p>

  <br><br>
      <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
        <div class="thumbnail">
          <img class="images img-responsive" src="images/dashboard4.jpg" alt="fashion">
         </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
      <div class="thumbnail">
        <img class="images img-responsive" src="images/dashboard5.jpg" alt="books">
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
      <div class="thumbnail">
       <img class="images img-responsive" src="images/dashboard6.jpg" alt="travel">
     </div>
    </div>
  </div>

    <br><br>
    <img class="img-responsive center-block" src="images/life.jpg" alt="life">
      <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
      <div class="thumbnail">
      <img class="images img-responsive" src="images/dash.jpg" alt="fashion">
       </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
      <div class="thumbnail">
        <img class="images img-responsive" src="images/dash7.jpg" alt="books">
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
      <div class="thumbnail">
        <img class="images img-responsive" src="images/happiness.jpg" alt="travel">
    </div>


    </div>
  </div>
    <br><br>

<br><br><br><br>
</div>
</div>

  <!-- Footer -->
  {{> footer}}

  <!-- Scripts -->
  {{> scripts}}
</body>
</html>
