<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>
    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
  	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>How to look amazing in under 10 minutes!!</strong></em></p>
          <p class="josefin text-center"><em> 7 steps for perfect beauty look </em> </p><br>
        </div><!-- /col- -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
          <div class="thumbnail">
            <img class="img-responsive images" src="images/makeup.jpg"><br>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
          <div class="thumbnail">
            <img class="img-responsive images" src="images/makeup2.jpg"><br>
          </div>
        </div><br>
        <p class="josefin text-center"><em> How would a professional makeup artist who’s worked on everyone from Daphne Groeneveld to Lauren Santo Domingo to Stella Maxwell approach everyday makeup?</em></p>
        <div class="col-sm-12"><br>
          <p class="text-center"> While there are so many different makeup trends to try this year, no look is complete without the right base. Your face makeup is the blank canvas for your red lips or smokey eye, so creating a flawless look makes a huge difference. So I made a little visit to Benefit Cosmetics over on Chestnut St. with my girl Becca, and we were lucky enough to have their lead makeup artist show us the ropes. She walked us step-by-step through her process of applying face makeup so that we could pass on her tricks of the trade to you!</p><br>
          <img class="img-responsive center-block" src="images/beauty2.jpg"><br>
          <img class="img-responsive center-block" src="images/beauty3.jpg"><br>
        </div><!-- /col- -->
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ================== -->
    {{> scripts}}
  </body>
</html>
