<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>
    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
  	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>What's new!!</strong></em></p>
          <p class="josefin text-center"><em> A New And Flattering Finish Lipstick Trend! </em> </p><br>
          </div><!-- /col- -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <div class="thumbnail">
          <img class="img-responsive images" src="images/lipstik5.jpg"><br>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <div class="thumbnail">
          <img class="img-responsive images" src="images/lipstik6.jpg"><br>
        </div>
      </div>

        <div class="col-sm-12">
          <p class="text-center"> I gave myself a R1 000 budget to purchase all the makeup products needed to achieve a full glam look. Lipstik Ombre Hingga Eyeliner Warna-warni, Prediksi Tren Make-up 2017.</p><br>
          <img class="img-responsive center-block" src="images/lipstik2.jpg"><br>
          <img class="img-responsive center-block" src="images/lipstik3.jpg"><br>
        </div><!-- /col- -->
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ============================================== -->
    {{> scripts}}
  </body>
</html>
