<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>
    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>Long grey coats, they never go out of style! A must have this season!!</strong></em></p>
          <p class="josefin text-center"><em>  A long grey coat, black ankle boots, stripped Zara shirt - and you will never be wrong! </em> </p>
          <img class="img-responsive center-block" src="images/greycoat1.jpg"><br>
          <p class="josefin text-center"><em> Grey coat. Soothing and classic, yet so fancy! A style that you will never be wrong with! Check this outfit and freely steel some of my ideas</em></p>
        </div><!-- /col- -->
        <div class="col-sm-12"><br>
          <p class="text-center">Gray coat has become an indispensable piece in the wardrobe of every woman. Gray is one of those fancy colors, the colors that make your look sophisticated looks and it is a great match with all other colors. Lighter shades gray coats are perfect for everyday outfit and to wear it with a pair of jeans and simple sweater or shirts. Make every outfit with gray coat more interesting and unique by wearing some fancy and stylish accessories like statement scarves. Find inspiration on the photos below.</p><br>
          <img class="img-responsive center-block" src="images/greycoat.jpg"><br>
          <img class="img-responsive center-block" src="images/greycoat2.jpg"><br>
          <img class="img-responsive center-block" src="images/greycoat3.jpg"><br>
        </div><!-- /col- -->
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ============================================== -->
    <!-- Bootstrap Scripts -->
    {{> scripts}}
  </body>
</html>
