<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>
    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
  	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>A PICTURE IS WORTH ...!</strong></em></p>
          <img class="img-responsive center-block" src="images/home.jpg"><br>
          <p class="josefin text-center"><em> A photo that is everything to me..</em></p>
        </div><!-- /col- -->
        <div class="col-sm-12">
          <br>
          <br>
          <p class="text-center"> This is my favorite picture from our wedding. Yes, I know what you’re thinking, it’s not a professional shot from the day or night, it’s a blurry black and white iPhone picture. But this photo is everything to me. It was 1:30am, pouring rain and I was on cloud 9</p><br>
          <img class="img-responsive center-block" src="images/wedding2.jpg"><br>
          <img class="img-responsive center-block" src="images/wedding3.jpg"><br>
        </div><!-- /col- -->
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ============================================== -->
    {{> scripts}}
  </body>
</html>
