<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>
    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
  	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>HOME DETAILS: OFFICE INSPIRATION!!</strong></em></p>
          <img class="img-responsive center-block" src="images/office.jpg"><br>
          <p class="josefin text-center"><em> Home office, something that made me feel so happy..!</em></p>
        </div><!-- /col- -->
        <div class="col-sm-12">
          <br><br>
          <p class="text-center"> We have been in our house for a little over 6 months and we finally started thinking about designing the home office. Other than two Ikea desks and my computer, our office is lacking any sort of inspiration or design. The space is pretty large with great natural light, so we are thinking about the best ways to fill the space. Here are a few offices that are giving me heart eyes..</p><br>
          <img class="img-responsive center-block" src="images/office2.jpg"><br>
          <img class="img-responsive center-block" src="images/office3.jpg"><br>
        </div><!-- /col- -->
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ============================================== -->
    <!-- Bootstrap Scripts -->
    {{> scripts}}
  </body>
</html>
