<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{websiteTitle}}</title>

		{{> stylesheets}}
</head>

<body>
	{{> header}}

	<br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xl-8">
				<div class="thumbnail">
					<a href="/mostpopular">
					<img class="images1 img-responsive" src="images/mostpopular.jpg" alt=fashion>
					</a>
					<div class="centered display-4"><h1><em><strong>Most popular</strong></em></h1> </div>
				</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
		<div class="thumbnail text-center">
			<a href="/jeanjacket">
		<img class="images1 img-responsive" src="images/jeanjacket1.jpg" alt="fashion"></a>
		<div class="centered"><h4><strong><em>3 Ways to wear a jean jacket</em> </strong></h4></div>

		</div>
	</div>
	</div><br><br>

		<p class="text-center"><em><strong>Winter weather calls for cozy sweater!</strong></em></p>
		<p class="josefin text-center"><em> A long sweater, good boots, and stretchy jeans are my fall/winter fashion must-haves </em> </p><br>

			<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">
        <img class="images img-responsive" src="images/sweater.jpg" alt="fashion">
         </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/sweater2.jpg" alt="fashion">
        </div>
    </div>

	</div><br>

		<p class="josefin text-center"><em> When the cold weather creeps in and sweater season begins, there's no more flattering item to style up than a cozy, stylish sweater! <br> Sweater, ripped jeans, and mini bag, is there anything better? </em> </p>
		<br>
		<p class="text-center"> Cashmeere sweater / Jeans / Sneakers / Mini-bag / Kathlyn necklace </p><br> <br>
		<div class="text-center"><a href="/sweater" class="btn btn-outline-dark">Read more</a></div>


		<br> <br> <br> <br>

		<p class="text-center"><em><strong>Long grey coats, they never go out of style! A must have this season!</strong></em></p>

		<p class="josefin text-center"><em> A long grey coat, black ankle boots, stripped Zara shirt - and you will never be wrong! </em> </p>

		<img class="img-responsive center-block" src="images/greycoat1.jpg">
		<br>
		<p class="josefin text-center"><em> Grey coat. Soothing and classic, yet so fancy! A style that you will never be wrong with! Check this outfit and freely steel some of my ideas</em></p>

		<br>
		<p class="text-center"> Long coat / Jeans / Zara shirt / Ankle-boots / Pandora rings</p>
		<br> <br>


		<div class="text-center"><a href="/coat" class="btn btn-outline-dark">Read more</a></div>

		<br> <br> <br> <br>




		<p class="text-center"><em><strong>Plisse skirt, my favourite!</strong></em></p>

		<p class="josefin text-center"><em>Is there anything more classy, yet so comfy than a stylish plisse skirt? </em> </p><br>

			<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/plisseskirt1.jpg" alt="fashion">



      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/plisseskirt2.jpg" alt="fashion">


      </div>
    </div>

	</div>
	<br>

		<p class="josefin text-center"><em> Catwalk inspired pleated skirts are on the top of the most wanted list this year! <br> Plisse skirt, combined with sweater, or stylish crop top, and lace up heels is all you need! </em> </p>
		<br>
		<p class="text-center"> Plisse skirt / Leather jacket / Sweater / Mini-bag / Lace up heels </p>
			<br> <br>


		<div class="text-center"><a href="/plisseskirt" class="btn btn-outline-dark">Read more</a></div>

		<br> <br> <br> <br><br><br><br>


</div>
</div>
</div>


	<!-- Footer -->
	{{> footer}}

  <!-- Scripts -->
	{{> scripts}}

</body>
</html>
