<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{websiteTitle}}</title>

		{{> stylesheets}}
	</head>
	<body>
		{{> header}}

		<br><br><br>
		<div class="container">
			<div class="row header-title">
				<div class="col-sm-12">
					<h1>Shop</h1>
					<p class="p" align="center"><strong>"Welcome to our shop where the joy of dressing is art"</strong></p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_91.1512022547.jpg" class="">
							<h2 class="item-title">Long Sleeve Brushed Check Shirt</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
		  			</a>
				</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_93_197.1512022547.jpg" class="">
		 	 				<h2 class="item-title">Long Sleeve Contrast Piping Shirt</h2>
		  				<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
						    <div class="text">+ QUICK SHOP</div>
						  </div>
		  			</a>
					</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_93_196.1512022547.jpg" class="">
			  			<h2 class="item-title">Blue Denim Long Sleeve Shirt</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
		  			</a>
					</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_76_237.1512022547.jpg" class="">
		  				<h2 class="item-title">Borg Detail Quilted Check Shacket</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
		  			</a>
					</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_91_29.1512022547.jpg" class="">
		 	 				<h2 class="item-title">Long Sleeve Jersey Shirt</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
		  			</a>
					</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_87_243.1512022547.jpg" class="">
			  			<h2 class="item-title">Long Sleeve Jersey Shirt</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
		  			</a>
					</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_82_292.1512022547.jpg" class="">
			  			<h2 class="item-title">Long Sleeve Jersey Shirt</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
		  			</a>
					</div>
				</div>
				<div class="col-sm-3 img">
					<div class="img-container-over">
						<a href="/product">
							<img src="images/1_91_174.jpg" class="">
			  			<h2 class="item-title">Long Sleeve Jersey Shirt</h2>
							<span>$155.00</span><span class="divider">  |  </span><span>For Love & Lemons</span>
							<div class="overlay">
								<div class="text">+ QUICK SHOP</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		{{> footer}}

		<!-- Scripts -->
		{{> scripts}}
	</body>
</html>
