<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{websiteTitle}}</title>

		{{> stylesheets}}
</head>
<body>
	{{> header}}

	<br><br><br>
<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xl-8">
				<div class="thumbnail">
					<a href="mostpopular.html">
					<img class="images1 img-responsive" src="images/mostpopular.jpg" alt=fashion></a>
					<div class="centered display-4"><h1><em><strong>Most popular</strong></em></h1> </div>

		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
		<div class="thumbnail text-center">
			<a href="/jeanjacket">
		<img class="images1 img-responsive" src="images/jeanjacket1.jpg" alt="fashion"></a>
		<div class="centered"><h4><strong><em>3 Ways to wear a jean jacket</em> </strong></h4></div>

		</div>
	</div>
	</div>



<br><br>

		<p class="text-center"><em><strong>My favourite ways of wearing a scarf</strong></em></p>
		<p class="josefin text-center"><em> A essential every woman's must have! </em> </p><br>
	<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">
         <img class="images img-responsive" src="images/scarf.jpg" alt="fashion">
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">
         <img class="images img-responsive" src="images/scarf1.jpg" alt="fashion">
         </div>
    </div>

	</div>
	<br>

		<p class="josefin text-center"><em> A scarf can make wonders when it comes to outfits, and the real trends are right here </em></p>
		<br>
		<p class="text-center"> Cashmeere scarf / Jeans / Sneakers / Mini-bag / Leather jacket
			<br> <br>


		<a href="/styles1" class="btn btn-outline-dark">Read more</a>

		<br> <br> <br> <br>

		<p class="text-center"><em><strong>MY FAVORITE CANDLES AND SCENTS!</strong></em></p>



		<img class="img-responsive center-block" src="images/candles.jpg">
		<br>
		<p class="josefin text-center"><em> From scents to packaging, I constantly find myself impulse buying and I have become quite the hoarder. To be honest, I am 100% okay with my obsession.</em></p>

		<br>
		<img class="img-responsive center-block" src="images/candle3.jpg" alt="logo">


		<div class="text-center">
			<a href="/styles2" class="btn btn-outline-dark">Read more</a>
		</div>


		<br> <br> <br> <br><br><br><br>



</div>



	<!-- Footer -->
	{{> footer}}

	<!-- Scripts -->
	{{> scripts}}

</body>
</html>
