<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{websiteTitle}}</title>

		<link rel="icon" href="images/icon.png">

		<!-- Bootstrap Css -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

		<!-- font-awesome CSS -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- slick-theme.css -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>

		<!-- slick-theme.css -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	{{> header}}

	<br><br><br>
	<div class="container">

		<img class="images img-responsive" src="images/travel2.jpg" alt="fashions">

		<div class="row">

			<div class="col-lg-8 col-md-8 col-sm-8 col-xl-8">
				<div class="thumbnail">
					<img class="images1 img-responsive" src="images/travel1.jpg" alt=fashion>


		</div>

	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
		<div class="thumbnail text-center">
		<img class="images1 img-responsive" src="images/travel.jpg" alt="fashion">


		</div>
	</div>
	</div>


<br><br>



		<p class="text-center"><em><strong>SUNRISE AT GREAT POINT!</strong></em></p>

		<p class="josefin text-center"><em> If there was one memory from this summer that I would have to put on the top of my list it would be watching the sunrise at Great Point Lighthouse. </em> </p><br>

			<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/sunrise.jpg" alt="fashion">



      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/sunrise1.jpg" alt="fashion">


      </div>
    </div>

	</div>
	<br>

		<p class="josefin text-center"><em> Every sunrise hold more promise, and every sunset hold more peace. There's a sunrise and a sunset every single day, and they're absolutely free. Don't miss so many of them. Every sunrise gives you a new beginning and a new ending. </em> </p>


		<br>
		<p class="text-center"> LINEN JUMPSUIT-on me, FLAG SWEATER and JEANS– on Mackenzie
			<br> <br>


		<a href="/travel1articale" class="btn btn-outline-dark">Read more</a>

		<br> <br> <br> <br>

		<p class="text-center"><em><strong>WHAT’S IN MY BAG: HAWAII EDITION!</strong></em></p>

		<p class="josefin text-center"><em> hawaii never goes out of style! </em> </p>

		<img class="img-responsive center-block" src="images/hawai.jpg">
		<br>
		<p class="josefin text-center"><em>You can't buy happiness but you can go to Hawaii and that's pretty much the same thing.</em></p>

		<br>
		<p class="text-center"> SOLID AND STRIPED ONE PIECE / MARYSIA ONE PIECE / EARRINGS / SANDALS / PHOEBE BASKET / HAT / SUITCASE / SUPERGOOP / TRAVEL CASES / SUNGLASSES
		<br> <br>


		<a href="/travel2articale" class="btn btn-outline-dark">Read more</a>


		<br> <br> <br>
		<div class="row sliderProduct">
			<div class="col-sm-12">
				<section class="clients-logos-container">
					<div class="beauty">
						<div class="slide">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item">
								<div class="back-image" style="background-image: url(images/travels.jpg);"></div>
							</div>
						</div>
						<div class="slide">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item">
								<div class="back-image" style="background-image: url(images/travels1.jpg);"></div>
							</div>
						</div>
						<div class="slide">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item">
								<div class="back-image" style="background-image: url(images/travels2.jpg);"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
</div>

	<!-- Footer -->
	{{> footer}}

	<!-- Scripts -->
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

	<!-- Bootstarp Script -->
	<script type="text/javascript" src="js/bootstrap.js"></script>

	<!-- Slick JS -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

	<script type="text/javascript">
		//News Slider
		$('.beauty').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: false,
			autoplaySpeed: 3000,
			arrows: true,
			dots: true,
			pauseOnHover: false,
			responsive: [{
			breakpoint: 768,
			settings: {
				slidesToShow: 1
			}},
			{
			breakpoint: 520,
			settings: {
				slidesToShow: 1
			},
			breakpoint: 375,
			settings: {
				slidesToShow: 1
			}
			}]
		});
	</script>


</body>
</html>
