<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>

    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>SUNRISE AT GREAT POINT!</strong></em></p>
          <p class="josefin text-center"><em> Every sunrise hold more promise, and every sunset hold more peace. There's a sunrise and a sunset every single day, and they're absolutely free. Don't miss so many of them. Every sunrise gives you a new beginning and a new ending. </em> </p>
          <img class="img-responsive center-block" src="images/sunrise.jpg"><br>
          <p class="josefin text-center"><em> If there was one memory from this summer that I would have to put on the top of my list it would be watching the sunrise at Great Point Lighthouse..</em></p>
        </div><!-- /col- -->
        <div class="col-sm-12">
          <br>
          <p class="text-center"> Patrick and I made A BUCKET LIST of activities, restaurants and things to do while we were in Nantucket for the month (before I decided to stay for the entire summer) and we were able to check them all off our list before the end of July. After lots of research, Patrick decided we would get a day pass, wake up at 4am, and watch the sunrise on the furthest corner of the island. Let me just say the early wake up call was totally worth it! We all piled into the Jeep while it was still dark and started the one hour trek onto the beach.</p><br>
          <img class="img-responsive center-block" src="images/travela1.jpg"><br>
          <img class="img-responsive center-block" src="images/sunrise1.jpg"><br>
        </div><!-- /col- -->
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ============================================== -->
    {{> scripts}}
  </body>
</html>
