<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{websiteTitle}}</title>

    {{> stylesheets}}
  </head>
  <body>
    {{> header}}

    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><em><strong>WHAT’S IN MY BAG: HAWAII EDITION!</strong></em></p>
          <p class="josefin text-center"><em> Hawaii never goes out of style! </em> </p>
          <img class="img-responsive center-block" src="images/hawai.jpg"><br>
          <p class="josefin text-center"><em> You can't buy happiness but you can go to Hawaii and that's pretty much the same thing.</em></p>
        </div><!-- /col- -->
        <div class="col-sm-12">
          <br>

          <p class="text-center"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus..</p><br>
          <img class="img-responsive center-block" src="images/hawai1.jpg"><br>
          <img class="img-responsive center-block" src="images/hawai2.jpg"><br>
        </div><!-- /col- -->
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
          <div class="thumbnail">
            <img class="images img-responsive" src="images/hawai5.jpg">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
          <div class="thumbnail">
            <img class="images img-responsive" src="images/hawai4.jpg">
          </div>
        </div>
      </div>
      </div><!-- /row -->
    </div><!-- /container -->

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts
    ============================================== -->
    {{> scripts}}
  </body>
</html>
