<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{websiteTitle}}</title>

		{{> stylesheets}}
</head>
<body>
	{{> header}}

	<br><br><br>
	<div class="container">

		<img class="images img-responsive" src="images/travel2.jpg" alt="fashions">

		<div class="row">

			<div class="col-lg-8 col-md-8 col-sm-8 col-xl-8">
				<div class="thumbnail">
					<img class="images1 img-responsive" src="images/travel1.jpg" alt=fashion>


		</div>

	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
		<div class="thumbnail text-center">
		<img class="images1 img-responsive" src="images/travel.jpg" alt="fashion">


		</div>
	</div>
	</div>


<br><br>



		<p class="text-center"><em><strong>SUNRISE AT GREAT POINT!</strong></em></p>

		<p class="josefin text-center"><em> If there was one memory from this summer that I would have to put on the top of my list it would be watching the sunrise at Great Point Lighthouse. </em> </p><br>

			<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/sunrise.jpg" alt="fashion">



      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
      <div class="thumbnail">

          <img class="images img-responsive" src="images/sunrise1.jpg" alt="fashion">


      </div>
    </div>

	</div>
	<br>

		<p class="josefin text-center"><em> Every sunrise hold more promise, and every sunset hold more peace. There's a sunrise and a sunset every single day, and they're absolutely free. Don't miss so many of them. Every sunrise gives you a new beginning and a new ending. </em> </p>


		<br>
		<p class="text-center"> LINEN JUMPSUIT-on me, FLAG SWEATER and JEANS– on Mackenzie
			<br> <br>


		<a href="/travel1articale" class="btn btn-outline-dark">Read more</a>

		<br> <br> <br> <br>

		<p class="text-center"><em><strong>WHAT’S IN MY BAG: HAWAII EDITION!</strong></em></p>

		<p class="josefin text-center"><em> hawaii never goes out of style! </em> </p>

		<img class="img-responsive center-block" src="images/hawai.jpg">
		<br>
		<p class="josefin text-center"><em>You can't buy happiness but you can go to Hawaii and that's pretty much the same thing.</em></p>

		<br>
		<p class="text-center"> SOLID AND STRIPED ONE PIECE / MARYSIA ONE PIECE / EARRINGS / SANDALS / PHOEBE BASKET / HAT / SUITCASE / SUPERGOOP / TRAVEL CASES / SUNGLASSES
		<br> <br>


		<a href="/travel2articale" class="btn btn-outline-dark">Read more</a>


		<br> <br> <br>
</div>

	<!-- Footer -->
	{{> footer}}

	<!-- Script -->
	{{> scripts}}


</body>
</html>
